fastapi
uvicorn
python-multipart

numpy
pandas
scikit-learn
joblib

requests
beautifulsoup4
lxml

pillow
opencv-python
opencv-contrib-python

pytesseract

SpeechRecognition
pydub

sqlalchemy

python-dotenv

langchain
langchain-community

openai
groq

transformers
torch

xgboost

phonenumbers

qrcode

matplotlib

seaborn

tqdm